#about{
    background-color: #1abc9c;
    padding: 6rem 0;
    color:#fff
}


.item-line{
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: white!important;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}




.row .col-lg-4 p {
    padding-top: 1rem !important;
    font-size: 1.25rem !important;
    font-weight: 400 !important;
    color: white;
}