     
    <section id="contact" class="title">
        <div class="container">
        
            <h2 class=" text-center text-uppercase text-secondary mb-0 mt-5  fs-1 fw-bolder">Contact Me</h2>
            <div class="lines py-2 d-flex justify-content-center align-items-center">
                <div class="item-line me-2"></div>
                <div class="line-icon"><i class="fas fa-star"></i></div>
                <div class="item-line ms-2"></div>
            </div>
           
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage">
                        <div class="control-group">
                            <div class="form-group pb-2">
                              
                                <input class="form-control" id="name" type="text" placeholder="Name" >
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group pb-2">
                                
                                <input class="form-control" id="email" type="email" placeholder="Email Address">
                    
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group pb-2">
                              
                                <input class="form-control" id="phone" type="tel" placeholder="Phone Number">
            
                            </div>
                        </div>
                        <div class="control-group mb-5">
                            <div class="form-group pb-2 ">
                               
                                <textarea class="form-control" id="message" rows="5" placeholder="Message"></textarea>
                                
                            </div>
                        </div>
        
                        <div class="form-group">
                            <button class="btn" id="sendMessageButton" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


