<!-- <p class= py-5">portfolio works!</p> -->

<section id="portfolio" class="title">
    <div class="container">

        <h2 class=" text-center text-uppercase text-secondary mb-0 mt-5">Portfolio</h2>
        <!-- Icon Divider -->
        <div class="lines py-2 d-flex justify-content-center align-items-center">
            <div class="item-line me-2"></div>
            <div class="line-icon"><i class="fas fa-star"></i></div>
            <div class="item-line ms-2"></div>
        </div>

        <div class="row justify-content-center gy-3">
           
            <div class="col-md-6 col-lg-4 ">
                <div class="item position-relative" >
                    <img src="../../assets/imgs/cabin.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <div class="portfolio-item-caption-content text-center text-white">
                    <i class="fas fa-plus fa-3x"></i>
                </div>

                <img class="img-fluid" src="../../assets/imgs/cabin.png" alt="" /> -->
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="item position-relative" >
                    <img src="../../assets/imgs/cake.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                

                <!-- <img class="img-fluid" src="../../assets/imgs/cake.png" alt="" /> -->

            </div>
          
            <div class="col-md-6 col-lg-4">
                <div class="item position-relative">
                    <img src="../../assets/imgs/circus.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                </div>

                <img class="img-fluid" src="../../assets/imgs/circus.png" alt="" /> -->

            </div>
           
            <div class="col-md-6 col-lg-4 mb-lg-0">
                <div class="item position-relative" >
                    <img src="../../assets/imgs/game.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                </div>

                <img class="img-fluid" src="../../assets/imgs/game.png" alt="" /> -->

            </div>
           
            <div class="col-md-6 col-lg-4 mb-md-0">
                <div class="item position-relative" >
                    <img src="../../assets/imgs/safe.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                </div>

                <img class="img-fluid" src="../../assets/imgs/safe.png" alt="" /> -->

            </div>
           
            <div class="col-md-6 col-lg-4">
                <div class="item position-relative" >
                    <img src="../../assets/imgs/submarine.png" class="w-100 img-fluid rounded-3" alt="" >
                    <div class="cover portfolio-item-caption portfolio-item-caption d-flex align-items-center justify-content-center rounded-3" >
                        <i class="fa-solid fa-plus fa-6x text-white fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <!-- <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                </div>

                <img class="img-fluid" src="../../assets/imgs/submarine.png" alt="" /> -->

            </div>
        </div>
    </div>
</section>