.home{
    font-size: 80%;
    padding: 0.8rem;
    color: #fff !important;
    border-radius: 0.5rem !important;
    background-color:#1abc9c ;
    border: 0.125rem solid transparent;
    text-transform: uppercase;
}

.home h1{
    font-size: 4rem;
    line-height: 3.5rem
}
.home p{
    font-size: 1.5rem
}


.item-line{
    width: 100% ;
    max-width: 7rem ;
    height: 0.25rem ;
    background-color: white!important;
    border-radius: 1rem ;
    border-color: #2c3e50 !important;
}


